## NOTES ##
<html>

<body>

<h1>Main page</h1>


{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>


</br>

</div>

{% endfor %}

</body>
</html>

---


<body>

<h1>Main page</h1>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>

<a href='{{url_for('editItem', sport_id = sport_id, catalog_id = i.id)}}'>Edit</a>

</br>
<a href='{{url_for('deleteItem', sport_id = sport_id, catalog_id = i.id)}}'>Delete</a>

</div>

{% endfor %}

</body>
</html>

------------------
### FIX####
<html>

<body>

<h1>Main page</h1>


{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>


</br>

</div>

{% endfor %}

</body>
</html>
